.aabout {
  color: #444;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aabout hr {
  width: 55%;
  margin: auto;
  margin-top: 5px;
}

.mid {
  padding: 50px;
  text-align: center;
}

.mid img {
  border-radius: 20px;

  box-shadow: 0 20px 20px rgba(0, 3, 3, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  height: 50vh;
  display: block;
  margin: 0 auto;

}

.mid p {
  padding: 30px;
}

.l-qoute {
  position: relative;
  text-align: center;
  color: #444;
}

.m {
  display: flex;
}

.info {
  padding: 80px;
  border: 3px solid #444;
  height: auto;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  transition: 0.7s ease;
}

.info h2 {
  top: 0;
}

.info p {
  margin-top: 40px;
}

.info ul {
  margin-top: 40px;
  text-align: left;
}

.info:hover {
  background: #fada24;
  cursor: pointer;
  letter-spacing: 8px;
  transform: scale(1.2);
}

.right-about {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-size: 20px;
}

@media (max-width: 100px) {}