.aabout {
  color: #444;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.aabout hr {
  width: 55%;
  margin: auto;
  margin-top: 5px;
}

.mid {
  padding: 50px;
  text-align: center;
}

.mid img {
  border-radius: 20px;

  box-shadow: 0 20px 20px rgba(0, 3, 3, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  height: 50vh;
  display: block;
  margin: 0 auto;

}

.mid p {
  padding: 30px;
}

.l-qoute {
  position: relative;
  text-align: center;
  color: #444;
}

.m {
  display: flex;
}

.infoh {
  text-align: center;
  border: 3px solid #444;
  border-radius: 10px;
}
.info {
  padding: 80px;
  height: auto;
  width: auto;
  margin: 20px;
  text-decoration: none;
    h2 {
        color: #444;
    }
}

.infop {
  margin-top: 80px;
}


.infoh:hover {
  background: #fada24;
  cursor: pointer;
  letter-spacing: 8px;
  color: #2ecc71;
}

.right-about {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .infoh {
    text-align: center;
  }
  .infoh:hover {
    background: #fada24;
    cursor: pointer;
    letter-spacing: 2px;
    color: #2ecc71;
  }
  
}